@font-face {
    src: url('fonts/windows_command_prompt.ttf');
}

.label {
    -fx-font-family: 'Windows Command Prompt';
    -fx-text-fill: GREEN;
    -fx-font-size: 40;
}

.button:hover {
    -fx-text-fill: WHITE;
}

.button {
    -fx-background-color: transparent;
    -fx-font-family: 'Windows Command Prompt';
    -fx-text-fill: GREEN;
    -fx-font-size: 50;
}

.start-scene-button {
    -fx-font-size: 50;
}

.main-label {
    -fx-font-size: 80;
}

.slider .track {
    -fx-background-color: GREEN;
    -fx-background-radius: 0;
}

.slider .thumb {
    -fx-background-color: WHITE;
    -fx-background-radius: 0;
}

#gameNameLabel {
    -fx-font-size: 120;
}